* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div
body {
    background-color: #3b472e;
}


.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #40d359;
    color: #ffffff;
    text-align: center;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-table;;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 25px;
}


.banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    margin-bottom: 25px;
    background-image: url("../images/group-of-web-developers.jpg");
    background-size: cover;
    background-position: center;
}



.float-left {
    float: left;
    margin-right: 50px;
    margin-bottom: 5000px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


.content {
    width: stretch;
    display: inline;
}


.About-me {
    
    padding: 300px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #37c912;
    color: #ffffff;
}


.bland-calculator {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 150px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #40d359;
    color: #ffffff;
}


.Contact-information {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #33d84e;
    color: #ffffff;
}





.bland-calculator img {
    max-height: 200px;
}



.About-me img {
    max-height: 500px;
}



.Contact-information img {
    max-height: 200px;
}



.bland-calculator h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



.About-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



.Contact-information h2 {
    margin-bottom: 20px;
    font-size: 36px;
}




.footer {
    margin-bottom: 30px;
    padding: 25px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


.footer h2 {
    font-size: 20px;
}
